
.card-list {
    display: flex;
    align-content: space-around;
    margin: 2px;
}


.card {
    background-color: #808080;
    width: 300px;
    height: 300px;

}



.post {
    font-family: Montserrat;
    font-size: 10px;
}
