{% load static%}
<!DOCTYPE html>
<html lang="ua">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    {% block head %}
    {% endblock %}

<!--    <link rel="stylesheet" type="text/css" href="../static/css/header.css" />-->
  </head>
  <body>
    <header>
      <img src="{% static 'images/logo.svg' %}" alt="logo" />

      <nav>
        <ul class="menu-container">
          <li class="menu-item"><a href="#">Головна</a></li>
          <li class="menu-item">
            <a href="#">Про нас</a>
            <ul class="submenu-container">
              <li class="submenu-item"><a href="#">Наш літопис</a></li>
              <li class="submenu-item"><a href="#">Команда</a></li>
              <li class="submenu-item"><a href="#">Інфраструктура школи</a></li>
              <li class="submenu-item"><a href="#">Річний огляд</a></li>
              <li class="submenu-item"><a href="#">Харчування</a></li>
              <li class="submenu-item"><a href="#">ВСЗЯО</a></li>
              <li class="submenu-item"><a href="#">Наші досягнення</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="#">Новини</a></li>
          <li class="menu-item">
            <a href="#">Інформаційна відкритість</a>
            <ul class="submenu-container">
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
              <li class="submenu-item"><a href="#"></a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">Освітня діяльність</a>
            <ul class="submenu-container">
              <li class="submenu-item">
                <a href="#">Навчальна діяльність</a>
                <ul class="sub-submenu-container">
                  <li class="submenu-item">
                    <a href="#">Календар навчального року</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">Профільне навчання</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">Академічна доброчесність</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">Дистанційне навчання</a>
                  </li>
                  <li class="submenu-item"><a href="#">ДПА/ЗНО/НМТ</a></li>
                  <li class="submenu-item">
                    <a href="#">Атестація/Сертифікація</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">Конкурси та олімпіади</a>
                  </li>
                </ul>
              </li>
              <li class="submenu-item">
                <a href="#">Виховна робота</a>
                <ul class="sub-submenu-container">
                  <li class="submenu-item">
                    <a href="#">Національно-патріотичне виховання</a>
                  </li>
                  <li class="submenu-item"><a href="#">Гуртки</a></li>
                  <li class="submenu-item">
                    <a href="#">Професійна орієнтація</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">Центр учнівського врядування "КРОК"</a>
                  </li>
                  <li class="submenu-item">
                    <a href="#">Правовиховна-робота</a>
                  </li>
                </ul>
              </li>
              <li class="submenu-item">
                <a href="#">Методичний кейс</a>
                <ul class="sub-submenu-container">
                  <li class="submenu-item"><a href="#">page1</a></li>
                  <li class="submenu-item"><a href="#">page2</a></li>
                  <li class="submenu-item"><a href="#">page3</a></li>
                </ul>
              </li>
              <li class="submenu-item">
                <a href="#">Інклюзивна освіта</a>
                <ul class="sub-submenu-container">
                  <li class="submenu-item"><a href="#">page1</a></li>
                  <li class="submenu-item"><a href="#">page2</a></li>
                  <li class="submenu-item"><a href="#">page3</a></li>
                </ul>
              </li>
              <li class="submenu-item">
                <a href="#">Психологічна служба</a>
                <ul class="sub-submenu-container">
                  <li class="submenu-item"><a href="#">page1</a></li>
                  <li class="submenu-item"><a href="#">page2</a></li>
                  <li class="submenu-item"><a href="#">page3</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <ul class="social-links">
        <li>
          <img src="{% static 'images/fb.svg' %}" alt="" />
        </li>
        <li>
          <img src="{% static 'images/inst.svg' %}" alt="" />
        </li>
        <li>
          <img src="{% static 'images/tg.svg' %}" alt="" />
        </li>
      </ul>
    </header>

    <!--    <div class="container">-->
    {% block content %}

    {% endblock %}
    <!--    </div>-->
  </body>
</html>
